//
// UI/BASE
// --------------------------------------------------

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color - 30;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  margin-bottom: 1.1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p { margin-bottom: 1rem; }

ul {
  list-style: none;
}

[class *="centered"] {
  text-align: center;
}

.col {
  float: left;
}
