// Grid


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  overflow: hidden;
}

.picture,
.description {
  display: flex;
  flex-direction: column;
}

.description {
  color: $text-color;
}

.center-col {
  padding: 2rem;
}

@media screen and (min-width: 802px) {
  .container {
    flex-direction: row;
    width: 800px;
  }

  .picture {
    width: 40%;
    text-align: right;
    padding-right: 1.3rem;
  }

  .description { width: 60%; }

  .center-col {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 801px) {
  .picture,
  .description {
    width: 100%;
    text-align: center;
  }

  .picture {
    width: 320px;
  }
}

@media screen and (max-width: 340px) {
  .picture {
    width: 80%;
  }
}