//
// VARIABLES
// ----------------------------------------------

$clear:             #fff;
$dark:              #000;
$text-color:        #ccc;
$header-color:      $clear;
$link-color:        #f4b67d;
$body-background:   #454545;
$highlight:         #eae547;