//
// VARIABLES
// ----------------------------------------------

$clear:             #fff;
$dark:              #000;
$text-color:        #ccc;
$header-color:      $clear;
$link-color:        #138ef2;
$body-background:   #2f2f2f;
$highlight:         #eae547;