// Responsive large

@media screen and (min-width: 1200px) {
  .container { width: 70%; }

  #me { width: 27%; }

  #info {
    width: 60%;
    margin-left: 40%;
  }

  .me-me { width: 97%; }

  .me-name {
    font-size: 1.7em;
  }

  .me-separator { display: block; }
}
