.glasses {
  width: 100px;
  height: 38px;
  margin: 0 auto;
  background: url('../images/glasses.png') center center no-repeat;
  background-size: cover;
  transition: all 1s ease;
}

.me-name {
  font-weight: 400;
  color: $base-fonts;
}

.links {
  text-align: center;
  text-decoration: none;

  i {
    color: $base-fonts;
    font-size: 2em;
    transition: all 0.3s ease;
  }

  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:hover {
    i { margin-top: -3px; font-size: 2.5em; }
    text-decoration: none;
  }
}
