// Posts sections

.blog {
  p {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    line-height: 1.5;
  }

  .ico {
    position: relative;
    display: block;
    padding-left: 20px;

    &:before {
      position: absolute;
      left: 0;
      content: "\f0f6";
      font-family: FontAwesome;
    }
  }
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #747171;
  font-family: Monaco, "Courier New", monospace;
  font-size: 100%;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0.5em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
