//
// VARIABLES
// ----------------------------------------------

$clear: #fff;
$dark: #000;
$text-color: #ccc;
$header-color: $clear;
$link-color: #138ef2;
$body-background: hsl(224, 14%, 16%);
$highlight: #eae547;
