// Buttons

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  border: 1px solid $anchors;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background: $anchors + 10;
    color: $white;
  }
}
